<?xml version="1.0" encoding="GBK"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <filter>
  <filter-name>EncodingFilter</filter-name>
  <filter-class>com.devon.filter.EncodingFilter</filter-class>
  <init-param>
   <param-name>encode</param-name>
   <param-value>GBK</param-value>
  </init-param>
 </filter>
 <filter>
  <filter-name>AdminFilter</filter-name>
  <filter-class>com.devon.filter.AdminFilter</filter-class>
 </filter>
 <filter>
  <display-name>CommonFilter</display-name>
  <filter-name>CommonFilter</filter-name>
  <filter-class>com.devon.filter.CommonFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>EncodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <url-pattern>/admin/manage/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>CommonFilter</filter-name>
  <url-pattern>/common/usercenter/left.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>CommonFilter</filter-name>
  <url-pattern>/common/showorder/left.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>CommonFilter</filter-name>
  <url-pattern>/common/confirmsettle.jsp</url-pattern>
 </filter-mapping>
 <servlet>
  <servlet-name>RegUserServlet</servlet-name>
  <servlet-class>com.devon.servlet.pub.RegUserServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>IsExistUserServlet</servlet-name>
  <servlet-class>com.devon.servlet.pub.IsExistUserServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AdminLoginServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.AdminLoginServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>QueryUserServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.QueryUserServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UpdateUserHelperServlet</servlet-name>
  <servlet-class>com.devon.servlet.pub.UpdateUserHelperServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>InsertUserHelperServlet</servlet-name>
  <servlet-class>com.devon.servlet.pub.InsertUserHelperServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DeleteUserServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.DeleteUserServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>GetMcTypeServlet</servlet-name>
  <servlet-class>com.devon.servlet.pub.GetMcTypeServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>QueryGoodsServlet</servlet-name>
  <servlet-class>com.devon.servlet.pub.QueryGoodsServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>InsUpdGoodsServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.InsUpdGoodsServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>InsertGoodsHelperServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.InsertGoodsHelperServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DeleteGoodsServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.DeleteGoodsServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UpdateGoodsTypeServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.UpdateGoodsTypeServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UpdatePasswordServlet</servlet-name>
  <servlet-class>com.devon.servlet.pub.UpdatePasswordServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DeleteGoodsTypeServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.DeleteGoodsTypeServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>InsertMcTypeServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.InsertMcTypeServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>QueryOrderServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.QueryOrderServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>QueryOrderItemServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.QueryOrderItemServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>QuerySingleGoodsServlet</servlet-name>
  <servlet-class>com.devon.servlet.common.QuerySingleGoodsServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ShoppingCarServlet</servlet-name>
  <servlet-class>com.devon.servlet.common.ShoppingCarServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CommonLoginServlet</servlet-name>
  <servlet-class>com.devon.servlet.common.CommonLoginServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CommonLogOffServlet</servlet-name>
  <servlet-class>com.devon.servlet.common.CommonLogOffServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>OrderCheckServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.OrderCheckServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AdminLogOffServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.AdminLogOffServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>PlacingOrderHelperServlet</servlet-name>
  <servlet-class>com.devon.servlet.common.PlacingOrderHelperServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>PlancingOrderServlet</servlet-name>
  <servlet-class>com.devon.servlet.common.PlancingOrderServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>InitXMLFilePathServlet</servlet-name>
  <servlet-class>com.devon.servlet.pub.InitXMLFilePathServlet</servlet-class>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>DelGoodsImgServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.DelGoodsImgServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UpdateOrderHelperServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.UpdateOrderHelperServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UpdateOrderServlet</servlet-name>
  <servlet-class>com.devon.servlet.admin.UpdateOrderServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>RegUserServlet</servlet-name>
  <url-pattern>/servlet/RegUserServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>IsExistUserServlet</servlet-name>
  <url-pattern>/servlet/IsExistUserServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AdminLoginServlet</servlet-name>
  <url-pattern>/servlet/AdminLoginServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>QueryUserServlet</servlet-name>
  <url-pattern>/admin/manage/tab/QueryUserServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateUserHelperServlet</servlet-name>
  <url-pattern>/servlet/UpdateUserHelperServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InsertUserHelperServlet</servlet-name>
  <url-pattern>/servlet/InsertUserHelperServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteUserServlet</servlet-name>
  <url-pattern>/servlet/DeleteUserServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetMcTypeServlet</servlet-name>
  <url-pattern>/admin/manage/tab/GetMcTypeServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>QueryGoodsServlet</servlet-name>
  <url-pattern>/admin/manage/tab/QueryGoodsServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InsUpdGoodsServlet</servlet-name>
  <url-pattern>/admin/manage/tab/InsUpdGoodsServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InsertGoodsHelperServlet</servlet-name>
  <url-pattern>/servlet/InsertGoodsHelperServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteGoodsServlet</servlet-name>
  <url-pattern>/servlet/DeleteGoodsServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateGoodsTypeServlet</servlet-name>
  <url-pattern>/servlet/UpdateGoodsTypeServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdatePasswordServlet</servlet-name>
  <url-pattern>/servlet/UpdatePasswordServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteGoodsTypeServlet</servlet-name>
  <url-pattern>/servlet/DeleteGoodsTypeServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InsertMcTypeServlet</servlet-name>
  <url-pattern>/servlet/InsertMcTypeServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>QueryOrderServlet</servlet-name>
  <url-pattern>/admin/manage/tab/QueryOrderServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>QueryOrderItemServlet</servlet-name>
  <url-pattern>/servlet/QueryOrderItemServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>QuerySingleGoodsServlet</servlet-name>
  <url-pattern>/servlet/QuerySingleGoodsServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ShoppingCarServlet</servlet-name>
  <url-pattern>/servlet/ShoppingCarServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CommonLoginServlet</servlet-name>
  <url-pattern>/servlet/CommonLoginServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CommonLogOffServlet</servlet-name>
  <url-pattern>/servlet/CommonLogOffServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>OrderCheckServlet</servlet-name>
  <url-pattern>/servlet/OrderCheckServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AdminLogOffServlet</servlet-name>
  <url-pattern>/servlet/AdminLogOffServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PlacingOrderHelperServlet</servlet-name>
  <url-pattern>/servlet/PlacingOrderHelperServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PlancingOrderServlet</servlet-name>
  <url-pattern>/servlet/PlancingOrderServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InitXMLFilePathServlet</servlet-name>
  <url-pattern>/servlet/InitXMLFilePathServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DelGoodsImgServlet</servlet-name>
  <url-pattern>/servlet/DelGoodsImgServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateOrderHelperServlet</servlet-name>
  <url-pattern>/servlet/UpdateOrderHelperServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateOrderServlet</servlet-name>
  <url-pattern>/servlet/UpdateOrderServlet</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/common/index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
